<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="root">
        输入关键词进行搜索：<input type="text" v-model="keyWord">
        <button @click="sortType=1">升序排序</button>
        <button @click="sortType=2">降序排序</button>
        <button @click="sortType=0">原序列</button>
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                姓名：{{p.name}}-年龄：{{p.age}}-性别：{{p.gender}}
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el:'#root',
           
            data:{
                keyWord:'', 
                sortType: 0, //0表示没有进行排序 1表示升序 2表示降序
                persons:[
                    {id: '1', name: '周冬雨',age:'40', gender: '女'},
                    {id: '2', name: '马冬梅',age:'20', gender: '女'},
                    {id: '3', name: '周杰伦',age:'30', gender: '男'},
                    {id: '4', name: '温兆伦',age:'19', gender: '男'}
                ]
            },
            methods:{
                filPersons(){
                    const arr = this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                    if(this.sortType){
                        arr.sort((p1, p2)=>{
                            return this.sortType === 1 ? p1.age - p2.age : p2.age - p1.age
                        })
                    }
                    return arr;
                }
            }
        })
   </script>
</body>
</html>